{% extends 'recipesapp/layout.html' %} {% block content %}
<h1 align="center">Інформаційна сторінка</h1>
<p>
    Цей вебсайт створено у межах студентського проекту з дисципліни "Високорівневе програмування". 
    Метою цього поекту було створення веб-додатку за допомогою мови програмування Python та її феймворку Django. 
    Темою до проекту було обрано "Веб-додаток для обміну рецептами".
</p>
<p>
    Даний веб-додаток містить функціонал, за допомогою якого користувач може створювати, редагувати, видаляти та переглядати кулінарні рецепти.
    Також користувачі мають змогу оцінювати рецепти один одного, що буде впливати на середній рейтинговий показник. 
    Проект містить систему реєстрації користувачів, що дозволяє поліпшити безпекову складову, та обмежити певні дії користувачів.
</p>
<p>
    Для незареєстрованих користувачів доступний огляд існуючих на сайті рецептів. 
    Однак, якщо користувач хоче додати свій рецепт на сайт, або оцінити якийсь з існуючмх, йому доведеться зареєструватись та увійти в акаунт.
    Форма реєстрації та входу в акаунт має стандартний зрозумілий інерфейс, завдяки чому ппроцедура не займатиме багато часу користувача.
</p>
<p>
    Кожен автор може у будь-який момент відредагувати створений ним рецепт, або зовсім видалити його з сайту.
</p>
<p align="right">Виконавець: Бендатий Дмитро, група МД-191</p>
{% endblock content %}
